.sigaleContentDv{
    width: 100%; display: flex; justify-content: center; align-items: start;  
    .mainContentDataDv{
        width: 70%;  display: flex; justify-content: space-between; align-items: start; 
        .boderdv{background-color: #E0E0E0; height: 127vh; width: 1px;}
        .formcontent{
            display: flex; flex-direction: column; gap: 30px; justify-content: start; align-items: center;
            h2{color: #0056B3;}
            .formDV{
                box-shadow: 0px 0px 16px 0px #00000029; width: 460px; background-color: white; padding: 20px; border-radius: 12px;  display: flex; flex-direction: column; gap: 40px;
                h3{color: black; text-align: center;}
                .itemDv{
                    display: flex; justify-content: start; align-items: center; gap: 10px;border-bottom: 1px solid #ADAEC2; 
                    input{border: none; outline: none; width: 100% ; font-size: 18px; }
                }
                p{font-size: 12px;font-weight: 500; color: #5E5E5E;}
                button{width: 143px;height: 50px; background-color: #0056B3; color: white; border: none; border-radius: 8px; margin: auto 0px;}
            }
           
        }
         .textDv{
                box-shadow: 0px 4px 20px 0px #0000000D; background-color: white ; padding: 20px; border-radius: 12px; width: 450px; display: flex; flex-direction: column; gap: 60px;
                .colDv{
                    display: flex; flex-direction: column; gap: 20px; 
                    h3{color: black;}
                    .itemDot{
                        display: flex ; justify-content: start; align-items: start; gap: 10px;  
                        .dot{width: 5px; flex: 0 0 5px; height: 5px; border-radius: 50%; background: black; margin-top: 10px;}
                        p{padding: 0px; margin: 0px; font-size: 20px; font-weight: 500; color: #4C4C4C;}
                    }
                }
            }
    }
}