.main-Content{
    .dataDV{
        display: flex; flex-direction: column; gap: 30px;
        .itemsDv{
            border: 1px solid ridge; border-radius: 10px 10px 0px 0px;  box-shadow: 0px 4px 20px 0px #0000000D;
            .headerItem{
                background-color: #0056B3;  border-radius: 10px 10px 0px 0px; padding: 10px 30px; display: flex; justify-content: start; 
            }
            .databan{
                background-color: white;
                .items{
                    display: flex; justify-content: space-between; align-items: center; background-color: #32CD32; border-radius: 15px; padding: 10px 20px; margin-top: 20px; margin: 10px 30px;
                    h4{font-size: 28px; font-weight: 600; color: white; margin: 0px; padding: 0px;}
                    p{font-size: 20px; font-weight: 400; color: white; margin: 0px; padding: 0px;}
                    &:first-child{background-color: #00BFFF;}
                }
                .firetDV{
                     padding: 10px 30px; display: flex; gap: 20px;
                    p{font-size: 20px; font-weight: 600; color: black; margin: 0px; padding: 0px;}
                }
                .tabDv{
                    display: flex; justify-content: start; align-items: center;   border-top: 1px solid #BDBDBD; padding: 0px 30px; gap: 20px;
                    .bor{
                        width: 1px; height: 42px; background-color: #BDBDBD;
                    }
                    .item{
                        font-size: 20px; font-weight: 300; color: black; padding: 10px 0px;
                        &.fir{width: 100px;}
                    }
                }
                .lasrChild{
                    border-bottom: 1px solid #BDBDBD; padding: 10px 30px;
                     p{font-size: 19px; font-weight:300; color: black; margin: 0px; padding: 0px;}
                     h6{font-size: 19px; font-weight:600; color: black; margin: 0px; padding: 0px; margin-bottom: 5px;}
                     &:last-child{border-bottom: none;}
                     h1{font-size: 14px; font-weight: 500; color: #3D3C3C; margin: 0px; padding: 0px; text-decoration: underline;}
                }
            }
        }
    }
    .rightDV{
       .towColDataContent{
        .centerColDv{
            .tableDv{
                box-shadow: 0px 4px 20px 0px #0000000D; display: flex; flex-direction: column;  margin-top: 30px;
                &:first-child{margin-top: 0px;}
                .item{
                    width: calc(100% / 4); 
                    h3{
                        font-size: 21px; font-weight: 700; color: white; margin: 0px; padding: 0px;
                    }
                }
                .haderDv{
                    background-color: #0056B3; padding: 10px 30px; display: flex; justify-content: start; align-items: center; gap: 10px; border-radius: 10px 10px 0px 0px;
            }
            .bodyDV{
                background-color: white;
                
                .topRow{
                    display: flex; justify-content: start; align-items: center; gap: 5px; padding: 10px 30px;
                    p{font-size: 9px; font-weight: 400; color: #868686; margin: 0px; padding: 0px; }
                    img{width: 12px; height: 10px;}
                }
                .bodyRow{
                    display: flex; justify-content: start; align-items: center; gap: 10px; background-color: #F7F9FD; padding: 10px 30px;
                    .logoNme{
                        display: flex; justify-content: start; align-items: center; gap: 10px;
                        img{width: 21px; height: 21px; margin: 0px; padding: 0px;}
                        h5{color: #0056B3;}
                    }
                    &.noBg{background-color: transparent;}
                }
                .boderRowTable{
                    display: flex; justify-content: start;display: flex; justify-content: start; align-items: center; gap: 5px; border-top: 1px solid #BDBDBD;
                    h3{color: black;}
                    &:first-child{border-top: none;}
                    .border{width: 1px; height: 40px; background-color: #BDBDBD;}
                    .item{
                        &:first-child{
                            padding-left: 30px;
                        }
                        &:last-child{
                            padding-right: 30px;
                        }
                    }
                }
                &.trakerCrd{
                    padding: 20px 30px;
                    .BetTracker{
                        display: flex; justify-content: end; align-items: center;gap: 10px; margin-top: 20px;
                        &:first-child{margin-top: 0px;}
                        h3{color: black;}
                        .Lakers{border: 1px solid #E9EAEF; height: 35px; width: 100%; display: flex; justify-content: start; align-items: center; padding: 0px 30px; font-size: 18px; font-weight: 400; color: black;}
                        .both{
                            display: flex; justify-content: start; align-items: center; gap: 20px; width: 100%; 
                            .darkDv{ background-color: #D9D9D9; height: 35px; width: 50%; display: flex; justify-content: start; align-items: center; padding: 0px 30px; font-size: 18px; font-weight: 400; color: black;}
                            .Lakers{width: 50%; 
                            &.green{color: #32CD32;}}
                        } 
                    }
                } 
            }
            }
        }
       }
    }
}