.headerDv {
  background-color: #12569f;
  padding: 20px 70px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: sticky;
  top: 0;
  z-index: 99;
  figure {
    width: 358px;
    height: 65px;
    margin: 0px;
    padding: 0px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .serchDv {
    width: 300px;
    height: 40px;
    background-color: #ffffff33;
    border-radius: 5px;
    border: 1px solid #ffffff66;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
    input {
      border: none;
      outline: none;
      font-size: 13px;
      font-weight: 400;
      color: #ffffff;
      background-color: transparent;
    }
  }
  .loginDv {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    .email {
      input {
        background-color: white;
        border: 1px solid #f7f6fa;
        color: #f7f6fa;
        height: 40px;
        width: 200px;
        padding: 0px 10px;
      }
      .checkDv {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
        .chekcbox {
          width: 14px;
          height: 14px;
          border-radius: 3px;
          border: none;
          margin: 0px;
          cursor: pointer;
        }
        p {
          font-size: 11px;
          font-weight: 400;
          color: white;
          margin: 0px;
          padding: 0px;
        }
      }
      .pass {
        display: flex;
        justify-content: start;
        align-items: center;
        .buttonDV {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 10px;
          button {
            height: 42px;
            background-color: #55b0ff;
            border: none;
            color: white;
            font-size: 13px;
            font-weight: 500;
            padding: 0px 20px;
            cursor: pointer;
            &.tres {
              background-color: transparent;
              border: 0.61px solid #ffffff;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .informationDv {
    align-items: center !important;
    .menu-btn {
      color: white;
    }
  }
  .headerDv {
    padding: 15px;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    .serchDv {
      width: 100%;
    }
    figure {
      width: 322px;
    }
    .menu-btn {
      background: none;
      border: none;
      cursor: pointer;
    }
    .loginDv {
      flex-direction: column;
      width: 100%;
      .email {
        width: 100%;
        input {
          width: 100%;
        }
        .pass {
          flex-direction: column;
          width: 100%;
          gap: 10px;
          align-items: start;
        }
      }
    }
  }
}
