.FooterDv{
    background-color: #0056B3; display: flex; justify-content: center; align-items: center; position: relative; padding: 30px 0px; margin-top: 20px; 
    .content{
        display: flex; flex-direction: column; gap: 20px; justify-content: center; align-items: center;
        p{font-size: 17px; font-weight: 400; color: #ffffff7a; margin: 0px; padding: 0px; }
        h2{font-size: 32px; font-weight: 700; color: #FFFFFF; margin: 0px; padding: 0px; }
        button{background-color: #32CD32; border-radius: 8px; margin: 0px; padding: 0px; height: 50px; width: 200px; outline: none; border: none; color: white; font-size: 17px; font-weight: 700; }
        .barDV{
            display: flex; justify-content: start; align-items: center; gap: 50px; 
        h6{font-size: 15px; font-weight: 500; color: #FFFFFF; margin: 0px; padding: 0px; }
    }
    h5{font-size: 15px; font-weight: 500; color: #ffffff7a; margin: 0px; padding: 0px; }
    }
    .leftImg{
        width: 296px; height: 176px; position: absolute; left: 0px; bottom: 0px; 
    }
    .rightImg{
        width: 296px; height: 276px; position: absolute; right: 0px; top: 0px; 
    }
}