.sigaleContentDv {
  .mainContentDataDv {
    &.aboutUss {
      flex-direction: column;
      h1 {
        img {
          width: 35px;
          height: 35px;
          margin: 0px 10px 10px 0px;
          padding: 0px;
        }
        margin-bottom: 30px;
      }
      .contentDv {
        gap: 30px;
        margin: auto;
        .maincon {
          display: flex;
          gap: 30px;
          margin-bottom: 30px;
        }
        .formDv{
          width: 70%;
        }

        .aboutUsFor {
          border: 1px solid #cdcdcd;
          background-color: white;
          box-shadow: 0px 4px 20px 0px #0000000d;
          width: 100%;
          padding: 30px;
          border-radius: 8px;
          &.Detail {
            p {
              font-size: 16px;
              font-weight: 400;
              color: #333333;
              line-height: 24px;
            }
            h6 {
              font-size: 16px;
              font-weight: 400;
              color: #046ec8;
              font-weight: 600;
            }
            .boderDv {
              width: 100%;
              height: 1px;
              background-color: #c8c8c8;
              margin: 30px 0px;
            }
          }
          h3 {
            color: black;
            margin-bottom: 20px;
          }
          p {
            font-size: 18px;
            font-weight: 600;
            color: #0056b3;
            margin: 0px;
            padding: 0px;
            margin-bottom: 20px;
            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
        .serchDv {
          height: 70px;
          background-color: #ffffff33;
          border-radius: 8px;
          border: 1px solid #cdcdcd;
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
          padding: 0px 10px;
          margin-top: 20px;
          input {
            border: none;
            outline: none;
            font-size: 13px;
            font-weight: 400;
            color: black;
            font-weight: 700;
            background-color: transparent;
            width: 100%;
          }
          &.detail {
            padding: 30px;
            h3 {
              color: black;
            }
            p {
              font-size: 16px;
              font-weight: 400;
              color: #333333;
              line-height: 24px;
            }
            .likeiMg {
              gap: 10px;
              img {
                width: 24px;
                height: 24px;
                cursor: pointer;
              }
            }
          }
        }
        .Categories {
          width: 30%;
          padding: 20px;
          background-color: #eaeaea;
          border-radius: 8px;
          height: fit-content;
          h3 {
            color: black;
            font-weight: 700;
            margin-bottom: 30px;
          }
          p {
            color: black;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
          }
          h6 {
            color: #0056b3;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .sigaleContentDv {
    .mainContentDataDv {
      &.aboutUss {
        h1 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        .contentDv {
          .maincon {
            flex-direction: column;
            .aboutUsFor {
              width: 100%;
            }
            .Categories {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
