body {
  margin: 0px;
  font-family: "DM Sans", sans-serif;
  h2 {
    font-size: 28px;
    font-weight: 700;
    color: #002257;
    margin: 0px;
    padding: 0px;
  }
  h3 {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
    color: #000000;
    margin: 0px;
    padding: 0px;
  }
  h5 {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    margin: 0px;
    padding: 0px;
  }
  .main-Content {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 30px;
    padding: 0px 70px;
    .rightDV {
      width: 70%;
      .towColDataContent {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 30px;
        .rightColDv {
          width: 30%;
        }
        .centerColDv {
          width: 70%;
        }
      }
    }
    .leftDv {
      width: 30%;
    }
  }
  .sigaleContentDv {
    width: 100%;
    display: flex;
    margin: 20px 0px 0px;
    justify-content: center;
    align-items: start;
    .mainContentDataDv {
      width: 70%;
      display: flex;
      justify-content: space-between;
      align-items: start;
    }
  }

  .mobile-show{display: none;}
  
  @media (max-width: 768px) {
    .mobile-show{display: block !important;}
    .mobile-hide{display: none !important;}
      .main-Content{
          flex-direction: column; padding: 0px; 
          .rightDV{
              width: 100%; padding: 0px 15px;
              .towColDataContent{
                  flex-direction: column; 
                  .rightColDv{
                      width: 100%; 
                  }
                  .centerColDv{
                      width: 100%;
                  }
              }
          }
          .leftDv{
              width: 100%; padding: 0px 15px;
          }
      }
      .sigaleContentDv{
        .mainContentDataDv {
          width: 100% !important; padding: 0px 15px;
        }
      }
  }
}

