.tableDv {
  box-shadow: 0px 4px 20px 0px #0000000d;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  .haderDv{
    background-color: #0056b3;
            padding: 10px 30px;
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
            border-radius: 10px 10px 0px 0px;
  }
             .bodyDV{
                background-color: white; display: flex; justify-content: center; align-items: start; 
                .bodyContentDv{
                    width: 80%;
                    &.formBox{
                         box-shadow: 0px 0px 7px 4px #00000014; padding: 60px 90px; border-radius: 38px; margin: 50px 0px;
                         .form{
                            display: flex; flex-direction: column; gap: 30px;
                            .filedRow{
                                display: flex; justify-content: space-between; align-items: center; gap: 30px;
                                .filed{
                                    width: 50%; 
                                    display: flex; justify-content: start; align-items: center; gap: 15px;
                                    select{ width: 100%;border: none; background-color: white; outline: none; box-shadow: 0px 0px 7px 4px #00000014; border-radius: 8px; padding: 10px 20px;}
                                    input{ width: 100%;border: none; background-color: white; outline: none; box-shadow: 0px 0px 7px 4px #00000014; border-radius: 8px; padding: 10px 20px;}
                                    p{ width: 115px;font-size: 14px; font-weight: 500; color: black; margin: 0px; padding: 0px; }
                                }
                            }
                         }
                    }
                    &.childeTable{
                         margin: 20px 0px ;
                         .itemsRow{
                            display: flex; justify-content: start; align-items: center; padding: 15px 25px; border-top: 1px solid #E9EAEF;
                            &:first-child{border-top: none;}
                            .itemsDv{
                                width: calc(100% / 5);
                                h3{color: black; font-size: 16px; font-weight: 600;}
                            }
                            &.bgRow{background-color: #F6F9FD;}
                         }
                    }
                }
            }

        }

        @media (max-width: 768px) {
            .tableDv{
                .bodyDV {
                     .bodyContentDv {
                            width: 100%; padding: 0px 15px;
                            &.formBox{
                                padding: 15px; margin: 15px ; border-radius: 10px;
                                .form{
                                    .filedRow{
                                        flex-direction: column;
                                        .filed{width: 100%;}
                                    }
                                }
                            }
                            &.childeTable{
                                
                            }
                        }
                       
                        &.resTb{
                            width: 63vh; 
                        }
                }
                 .overFL{
                            overflow: auto;
                            
                        }
            }
        }