.topBrDv{
    .barDv{
        background-color: #34495E; padding: 10px 70px; display: flex; justify-content: start; align-items: end; gap: 40px;
        p{font-size: 14px; font-weight: 700; color: white; margin: 0px; padding: 0px; }
    }
    .logoBarDv{
        padding: 10px 70px; display: flex; justify-content: start; align-items: center; gap: 30px; background-color: white; box-shadow: 0px 4px 20px 0px #0000000D; margin: 10px 0px 30px;

        .rightDV{
            width: 70%;
            .logoRow{
                display: flex; justify-content: start; align-items: center; gap: 40px; 
                .logoDv{
                    width: fit-content; display: flex; flex-direction: column; justify-content: center; align-items: center; 
                    figure{
                        width: 54px; height: 60px; margin: 0px; padding: 0px;
                        img{
                            width: 100%; height: 100%; 
                        }
                    }
                     p{font-size: 21px; font-weight: 400; color: black; margin: 0px; padding: 10px 0px 0px ; width: fit-content; }
                }
                .boderDv{width: 1px; height: 60px; background-color: #C8C8C8; margin: 0px; padding: 0px; }
            }
        }
        .leftDv{
            width: 30%; 
            h1{font-size: 30px; font-weight: 700; color: #002257; margin: 0px; padding: 0px; }
        }
    }
}